# gitignore for mynearestleedsmarginal2019
.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode

# data files
*.tar.gz
keyseats-emails.csv
googleways_key.txt
keyseatlist.csv
main_file.Rdata

# mac files
.DS_Store
