/* -- attempt to first write CSS template for Leeds Nearest marginal app */

<!DOCTYPE CSS>

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

*{ font-family: Open Sans;
}

<style>
.mex {
  text-align: center;
  font-size: 20px;
}

body {
  font-family: Open Sans
}


h2 {
  background-color: rgb(230, 0, 71);
  color: white;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Open Sans;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;

}

p {
    font-size: 20px;
}

strong {font-family: Open Sans
}

button {font-family: Open Sans
}

label {font-family: Open Sans
}

</style>
