/* -- attempt to first write CSS template for Leeds Nearest marginal app */

<!DOCTYPE CSS>

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

*{ font-family: Open Sans;
}

.mex {
  text-align: center;
  font-size: 20px;
}

body {
  font-family: Open Sans
}


h2 {
  background-color: rgb(230, 0, 71);
  color: white;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Open Sans;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;

}

p {
    font-size: 20px;
}

strong {font-family: Open Sans
}

button {font-family: Open Sans
}

label {font-family: Open Sans
}

.top-marg {
  border-color: rgb(230, 0, 71);
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  font-size: 20px;
  text-align: center;
}

.left, .right {
    position: relative;
    height: 100%;
    width: 50%;
    float: left;
    text-align: center;
}

.left:after {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 100px solid #fff;
    border-left: 30px solid transparent;
    border-right: 0 solid #fff;
    position: absolute;
    top: -50px;
    right: 0;
}

.right {
    width: 50%;
    text-align: center;
}

.right:before {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 100px solid #fff;
    border-bottom: 50px solid transparent;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}
